* {
    font-family: 'VT323', monospace;
}
main {
    text-align: center;
}
h1{
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#OuterDiv{
    flex-direction: row;
    justify-content: space-evenly;
    align-self: center;
    width: 50%;
}

#priceDiv{
    float: left;
}

#paymentDiv{
    float: right;
}

#priceLabel{
    float: left;
}

button{
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height:10%;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#myTable {
    flex-direction: column;
    border: solid 2px black;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}
td, th {
    border: solid 2px black;
    padding: 5px;
    text-align: left;
}


tr:nth-child(even) {
    background-color: #dddddd;
}